<div class="welcome-block px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-4"><img class="icon" alt="Logo" src="~/images/skoruba-icon.png"><br />Skoruba IdentityServer4</h1>
	<p class="lead">Welcome to Skoruba IdentityServer4</p>
</div>

<div class="card-deck mb-3 text-center">
	<!-- Clients -->
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h4 class="my-0 font-weight-normal">Discovery Document</h4>
		</div>
		<div class="card-body">
			<h1 class="card-title">
				<span class="oi oi-monitor" title="Discovery Document" aria-hidden="true"></span>
			</h1>
			<a href="~/.well-known/openid-configuration" class="btn btn-lg btn-block btn-primary">Discovery Document</a>
		</div>
	</div>
	<!-- Identity Resources -->
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h4 class="my-0 font-weight-normal">Persisted Grants</h4>
		</div>
		<div class="card-body">
			<h1 class="card-title">
				<span class="oi oi-key" title="Persisted Grants" aria-hidden="true"></span>
			</h1>
			<a asp-controller="Grants" asp-action="Index" class="btn btn-lg btn-block btn-outline-primary">Persisted Grants</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-8">
		<p>
			Here are links to the
			<a href="https://github.com/identityserver/IdentityServer4">source code repository</a>,
			and <a href="https://github.com/identityserver/IdentityServer4.Samples">ready to use samples</a>.
		</p>
	</div>
</div>
