@model Skoruba.IdentityServer4.STS.Identity.ViewModels.Manage.StatusViewModel

@if (Model != null && !String.IsNullOrEmpty(Model.Message))
{
    var statusMessageClass = Model.IsSuccess ? "success" : "danger";
<div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    @Model.Message
    @if (Model.ErrorsDetails.Count > 0)
    {
    <div>
        Details:
        <ul>
            @foreach (var detail in Model.ErrorsDetails)
            {
                <li>@detail</li>
            }
        </ul>
    </div>
    }
</div>
}
