@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="page-header">
    <div class="alert alert-success" role="alert">
        <h3>
            @Localizer["Success"]
            <small>@Localizer["SuccessMessage"]</small>
        </h3>
    </div>
</div>





