@for $i from 1 through 10 {
	.col-m-#{$i * 5} {
		margin: 1px * $i * 5;
	}
}

@for $i from 1 through 10 {
	.col-m-b-#{$i * 5} {
		margin-bottom: 1px * $i * 5;
	}
}

@for $i from 1 through 10 {
	.col-m-t-#{$i * 5} {
		margin-top: 1px * $i * 5;
	}
}

@for $i from 1 through 10 {
	.col-m-l-#{$i * 5} {
		margin-left: 1px * $i * 5;
	}
}

@for $i from 1 through 10 {
	.col-m-r-#{$i * 5} {
		margin-right: 1px * $i * 5;
	}
}
