@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@if (ViewContext.ModelState.IsValid == false)
{
	<div class="alert alert-danger">
		<strong>@Localizer["Title"]</strong>
		<div asp-validation-summary="All" class="danger"></div>
	</div>
}