@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@{
    ViewData["Title"] = Localizer["Title"];
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="fa fa-exclamation-triangle"></span>
        <strong>@Localizer["SubTitle"]</strong>
    </p>
    <p>
        @Localizer["Info"] <a asp-action="ResetAuthenticatorWarning"></a>
    </p>
</div>

<div>
    <form asp-action="Disable2fa" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">@Localizer["Disable2FA"]</button>
    </form>
</div>






