@using Microsoft.AspNetCore.Mvc.Localization
@model Skoruba.IdentityServer4.Admin.BusinessLogic.Dtos.Configuration.ClientDto
@inject IViewLocalizer Localizer

<div class="card mt-3">
	<h5 class="card-header">@Localizer["PageTitle"]</h5>
	<div class="card-body">
		<!--Checkbox-->
		<div class="form-group row">
			<label asp-for="RequireConsent" class="col-sm-3 col-form-label">
				@await Html.PartialAsync("Client/Section/Label", "RequireConsent")
			</label>
			<div class="col-sm-9">
				<toggle-button>
					<input asp-for="RequireConsent" type="checkbox">
				</toggle-button>
			</div>
		</div>

		<!--Checkbox-->
		<div class="form-group row">
			<label asp-for="AllowRememberConsent" class="col-sm-3 col-form-label">
				@await Html.PartialAsync("Client/Section/Label", "AllowRememberConsent")
			</label>
			<div class="col-sm-9">
				<toggle-button>
					<input asp-for="AllowRememberConsent" type="checkbox">
				</toggle-button>
			</div>
		</div>

		<!--Input - text -->
		<div class="form-group row">
			<label asp-for="ClientUri" class="col-sm-3 col-form-label">
				@await Html.PartialAsync("Client/Section/Label", "ClientUri")
			</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" asp-for="ClientUri">
			</div>
		</div>

		<!--Input - text -->
		<div class="form-group row">
			<label asp-for="LogoUri" class="col-sm-3 col-form-label">
				@await Html.PartialAsync("Client/Section/Label", "LogoUri")
			</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" asp-for="LogoUri">
			</div>
		</div>
	</div>
</div>