@using Microsoft.AspNetCore.Mvc.Localization
@model string
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Authorization
@using SkorubaIdentityServer4Admin.STS.Identity.Configuration.Constants
@inject IAuthorizationService AuthorizationService

@if ((await AuthorizationService.AuthorizeAsync(User, AuthorizationConsts.AdministrationPolicy)).Succeeded)
{
    <a class="menu-item my-2 btn btn-outline-primary mr-md-3" href="@Model">@Localizer["IdentityServerAdmin"]</a>
}





