@{
    ViewData["Title"] = "Check Email";
}

<div class="p-2">
    <h2>Thank You for Registration</h2><br />
    <p>
       A confirmation email is sent to you. Please check your email and click on the link in the email to complete your registration.
    </p>
</div>