@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Skoruba.IdentityServer4.STS.Identity.ViewModels.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = Localizer["Title"];
}

@await Html.PartialAsync("_ValidationSummary")

<main class="d-flex align-items-stretch">
    <div class="fixed-wrap forgot-left"></div>
    <div class="stretch-wrap">
        <div class="logo logo__mr_bottom">
            <img src="../dist/img/UpKeepr_Wordmark.svg" alt="">
        </div>
        <h5 class="text-center">Forgot your password?</h5>
        <p class="text-center regTitle">To set a new password, enter your Upkeepr account email address. We will send you an email with the link to change password. </p>
        <form asp-route="Login" method="post">
            <div class="row mx-0 align-items-center">
                <div class="col-12 px-0">
                    <div class="group">
                        <span class="input-icon">
                            <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.9329 2.66602H3.26619C2.53286 2.66602 1.93953 3.26602 1.93953 3.99935L1.93286 11.9993C1.93286 12.7327 2.53286 13.3327 3.26619 13.3327H13.9329C14.6662 13.3327 15.2662 12.7327 15.2662 11.9993V3.99935C15.2662 3.26602 14.6662 2.66602 13.9329 2.66602ZM13.9329 5.33268L8.59953 8.66601L3.26619 5.33268V3.99935L8.59953 7.33268L13.9329 3.99935V5.33268Z" fill="#81CC35" />
                            </svg>
                        </span>
                        <input class="common-input" type="text" asp-for="Email">
                        <span class="bar"></span>
                        <label class="common-label" asp-for="Email">@Localizer["Email"]</label>
                        <span class="validation-text" asp-validation-for="Email"></span>
                    </div><!---/.group-->
                </div>
            </div>
            <div class="row row__my mx-0 align-items-center">
                <div class="col-12 col-sm-6 px-0 pr-sm-2">
                </div>
                <div class="col-12 col-sm-6 px-0 pt-3 pt-sm-0 pl-sm-2">
                    <button class="common-button disabled" type="submit">
                        Reset Password
                        <span class="common-icon pl-1">
                            <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.5 6.91406e-07L5.4425 1.0575L9.6275 5.25L0.5 5.25L0.5 6.75L9.6275 6.75L5.435 10.935L6.5 12L12.5 6L6.5 6.91406e-07Z" fill="white" />
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
        </form>
        <div class="footer-small">
            <a asp-action="Login" asp-controller="Account">
                Login
                <span class="common-icon pl-1">
                    <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.5 6.91406e-07L5.4425 1.0575L9.6275 5.25L0.5 5.25L0.5 6.75L9.6275 6.75L5.435 10.935L6.5 12L12.5 6L6.5 6.91406e-07Z" fill="white" />
                    </svg>
                </span>
            </a>
        </div>
    </div>
</main>