@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@{
    ViewData["Title"] = Localizer["Title"];
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@Localizer["Info"]</p>
</header>