@using Microsoft.AspNetCore.Mvc.Localization
@model Skoruba.IdentityServer4.Admin.BusinessLogic.Dtos.Configuration.ClientDto
@inject IViewLocalizer Localizer

@{
	ViewBag.Title = Localizer["PageTitle"];
	Layout = "_Layout";
}

<form id="client-form" asp-controller="Configuration" asp-action="Client" Method="post">
	@if (Model.Id != 0)
	{
		<h2>@Localizer["Title"] @Model.ClientId</h2>
	}

	<div asp-validation-summary="All" class="text-danger"></div>

	@if (Model.Id != 0)
	{
		@await Html.PartialAsync("Client/Section/ActionButtons")
	}

	@await Html.PartialAsync("Client/Settings")
	@await Html.PartialAsync("Client/Section/ActionButtons")
</form>

@section scripts
	{
	<script>
		$(function () {
			//Disable enter for this form
			FormMvc.disableEnter($('#client-form'));

			//Radio image
			$("label.radio-img>img").click(function () {
				$(this).parent().find("input:radio").click();
			});
		});
	</script>
}