@using Microsoft.AspNetCore.Mvc.Localization
@model Skoruba.IdentityServer4.Admin.BusinessLogic.Dtos.Identity.UserRolesDto<Skoruba.IdentityServer4.Admin.BusinessLogic.Dtos.Identity.RoleDto<Guid>, Guid, Guid>
@inject IViewLocalizer Localizer

@{
	ViewBag.Title = Localizer["Title"];
	Layout = "_Layout";
}

<form asp-controller="Identity" asp-action="UserRolesDelete" Method="post">
	<div class="row">
		<div class="col-md-12">

			<h3>@Localizer["Title"]</h3>

			<!--Hidden -->
			<input type="hidden" asp-for="UserId" />

			<!--Hidden -->
			<input type="hidden" asp-for="RoleId" />

			<div class="card mt-3">
				<h5 class="card-header">@Localizer["SubTitle"]</h5>
				<div class="card-body">

					<!--Select-->
					<div class="form-group row">
						<label asp-for="RoleId" class="col-sm-3 col-form-label">
							@await Html.PartialAsync("User/Section/Label", "RolesList")
						</label>
						<div class="col-sm-9">
							<select asp-for="RoleId" disabled="disabled" asp-items="@(new SelectList(Model.RolesList,"Id","Text"))" class="form-control single-select"></select>
						</div>
					</div>

					<!--Button-->
					<div class="form-group row">
						<label class="col-sm-3 col-form-label">
						</label>
						<div class="col-sm-9">
							<button type="submit" class="btn btn-danger">@Localizer["ActionDeleteRole"]</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>