$primary: #29B6F6;
$primary2: #1298ED;
$primary3: #BCE9FE;

$secondary: #89CC45; 
$secondary2: #618833;
$secondary3: #AED580;

$background: #f6f5fb;
$surface: #fff;
$error: #b00020;
$onColor: #fff;

$onSurface: #1f1f20; 
$onSurface2: #98979b;
$onSurface3:  #E4E1E1;

$size-large: 96px;
$size-big: 60px;

$size-medium: 48px;
$size-medium2: 34px;
$size-medium3: 24px;
$size-normal: 20px;

$size-subtitle: 16px;
$size-subtitle2: 16px;

$size-body: 14px;
$size-body2: 12px;

$size-small: 10px;


$regularFont : "Roboto-Regular";
$lightFont : "Roboto-Light";
$mediumFont : "Roboto-Medium";
$boldFont : "Roboto-Bold";
