<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="${nlogdir}\logs\nlog-internal.log">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <variable name="logdir" value="${basedir}\logs"/>

  <targets>
    <target xsi:type="Console" name="Console">
      <layout xsi:type="JsonLayout">
        <!-- Основные атрибуты -->
        <attribute name="datetime" layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss}" />
        <attribute name="ticks" layout="${date:universalTime=true:format=ffff}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="traceid" layout="${traceid}"/>
        <attribute name="host" layout="${hostname}"/>
        <attribute name="request_method" layout="${aspnet-request-method}"/>
        <attribute name="request_statuscode" layout="${aspnet-response-statuscode}"/>
        <!--attribute name="endpoint" layout="${iis-site-name}"/-->
        <!--attribute name="application" layout="${aspnet-application}"/-->
        <attribute name="controller" layout="${aspnet-mvc-controller}"/>
        <attribute name="function" layout="${aspnet-mvc-action}"/>
        <!-- Web-атрибуты -->
        <attribute name="request_ip" layout="${replace:inner=${aspnet-request-ip}:regex=true:searchFor=^[^0-9.]+:replaceWith=}"/>
        <attribute name="src_ip0v4" layout="${replace:inner=${aspnet-request-ip}:regex=true:searchFor=^[^0-9.]+|[.][0-9]+[.][0-9]+[.][0-9]+|[^0-9].*$:replaceWith=}" />
        <attribute name="src_ip1v4" layout="${replace:inner=${aspnet-request-ip}:regex=true:searchFor=^[^0-9.]+[0-9]+[.]|[.][0-9]+[.][0-9]+|[^0-9].*$:replaceWith=}" />
        <attribute name="src_ip2v4" layout="${replace:inner=${aspnet-request-ip}:regex=true:searchFor=^[^0-9.]+[0-9]+[.][0-9]+[.]|[.][0-9]+|[^0-9].*$:replaceWith=}" />
        <attribute name="src_ip3v4" layout="${replace:inner=${aspnet-request-ip}:regex=true:searchFor=^[^0-9.]+[0-9]+[.][0-9]+[.][0-9]+[.]|[^0-9].*$:replaceWith=}" />
        <!--attribute name="appbasepath" layout="${aspnet-appbasepath}"/-->
        <!--attribute name="aspnet_environment" layout="${aspnet-environment}"/-->
        <!--attribute name="item" layout="${aspnet-item=myvariable:upperCase=true}"/-->
        <!--attribute name="" layout="${aspnet-request}"/-->
        <!--attribute name="contenttype" layout="${aspnet-request-contenttype}"/-->
        <!--attribute name="cookie" layout="${aspnet-request-cookie}"/-->
        <!--attribute name="form" layout="${aspnet-request-form}"/-->
        <!--attribute name="headers" layout="${aspnet-request-headers}"/-->
        <!--attribute name="request_host" layout="${aspnet-request-host}"/-->
        <attribute name="request_url" layout="${aspnet-request-url}" EscapeForwardSlash="false"/>
        <attribute name="request_body" layout="${aspnet-request-posted-body}" EscapeForwardSlash="false"/>
        <attribute name="request_query" layout="${aspnet-request-querystring}" EscapeForwardSlash="false"/>
        <!--attribute name="referrer" layout="${aspnet-request-referrer}"/-->
        <attribute name="request_useragent" layout="${aspnet-request-useragent}" EscapeForwardSlash="false"/>

        <!--attribute name="session" layout="${aspnet-session}"/-->
        <!--attribute name="sessionid" layout="${aspnet-sessionid}"/-->
        <!--attribute name="traceidentifier" layout="${aspnet-traceidentifier}"/-->
        <!--attribute name="authtype" layout="${aspnet-user-authtype}"/-->

        <!--attribute name="user_identity" layout="${aspnet-user-identity}"/-->
        <!--attribute name="isauthenticated" layout="${aspnet-user-isauthenticated}"/-->
        <!--attribute name="webrootpath" layout="${aspnet-webrootpath}"/-->

        <attribute name="threadid" layout="${threadid}"/>
        <attribute name="logger" layout="${logger}"/>
        <attribute name="message" layout="${message}" EscapeForwardSlash="false" escapeUnicode="false"/>
        <attribute name="exception" layout="${exception}" EscapeForwardSlash="false" escapeUnicode="false"/>
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="Console" />
  </rules>
</nlog>

